<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gjy.zxks.dao.PrivilegeMapper" >
  <resultMap id="BaseResultMap" type="com.gjy.zxks.po.Privilege" >
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="rightstr" property="rightstr" jdbcType="CHAR" />
    <result column="defunct" property="defunct" jdbcType="CHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.gjy.zxks.po.Privilege" >
    insert into privilege (user_id, rightstr, defunct
      )
    values (#{userId,jdbcType=CHAR}, #{rightstr,jdbcType=CHAR}, #{defunct,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gjy.zxks.po.Privilege" >
    insert into privilege
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="rightstr != null" >
        rightstr,
      </if>
      <if test="defunct != null" >
        defunct,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=CHAR},
      </if>
      <if test="rightstr != null" >
        #{rightstr,jdbcType=CHAR},
      </if>
      <if test="defunct != null" >
        #{defunct,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>